body{
    background-color: rgb(8, 66, 68);
}
.body{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-content: space-around;
}
.box1{
    font-size: 15vw;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.box2{
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 189, 172);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 30vw;  
    margin-left: 5vw;
}
.element1{
    font-size: 2.5vw;
    font-weight: 600;
}
.element2{
    padding: 10px 0px 10px 0px;;
}
.element4{
    padding: 5px 0px 5px 0px;;
}