{% extends "templates/base.twig" %}
{% block title %}Home{% endblock %}
{% block style %}
    {% endblock %}

    {% block body %}
    <div class="body">
        <div class="box1">LIBRARY</div>
        <div class="box2">
            <div class="element2"><form action="/admin" method="get"><input type="submit" value="Admin" class="buttons"></form></div>
            <div class="element2"><form action="/client" method="get"><input type="submit" value="Client" class="buttons"></form></div>    
        </div>    
    </div>
    {% endblock %}